@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:wght@400..900&display=swap');

@import "tailwindcss";

@layer base {
  * {
    font-family: 'Inter', 'Cairo', sans-serif !important;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum" 1;
  }
}
